# =================
# Java / Spring Boot
# =================
/Backend/target/
*.class
*.log
*.jar
*.war
*.iml
/.idea/
/.vscode/

# =================
# Node / React
# =================
/Frontend/node_modules/
/Frontend/build/
/Frontend/.env
/node_modules/

# =================
# General
# =================
.DS_Store
Thumbs.db
